<div class="edu-header header mw-100 ">
  <div class="ekart--header ">

    <div class="edu--bottom--bar bg-body-tertiary  ">
      <app-main-menu></app-main-menu>
      <!-- <div class="edu-menu  nav ">
        <a href="#" class="nav-item nav-link navbar-brand "> Edu</a>
        <a href="#" class="nav-item nav-link active">Home</a>
        <a href="#" class="nav-item nav-link active">Products</a>
        <a href="#" class="nav-item nav-link active">About</a>
        <a href="#" class="nav-item nav-link active">Contact</a>
      </div> -->
      <!-- <div class="edu--search-bar nav-item nav-link">
          <input type="text" class="edu-search-box form-control " placeholder="Search">
          <button class="edu--search--btn btn btn-search ">Search</button>

      </div> -->
    </div>

  </div>
</div>
