<div class="edu-product-container row  row-cols-md-4 g-5">
  <!-- <app-product ></app-product> -->
  <div class="edu-product-item col" *ngFor="let item of products">
    <div class="card h-100">
      <div>
        <div class="discount" *ngIf="item.discountPrice">{{(100-(item.discountPrice/item.price*100)).toFixed(0) +'% OFF'}}</div>
        <img class="card-img-top" [src]="item.imageURL" alt="image">
      </div>
      <div class="card-body ">
        <div class="card-text h4">{{ "$"+item.price}}</div>
        <div class="card-title h6">{{item.name}}</div>
        <div class="card-text">Brand : {{item.brand}}</div>
        <div class="card-text">Category : {{item.category}}</div>
        <div>Color option : {{item.color.length}}</div>
        <div [ngStyle]="{fontWeight : 'bold',color : item.is_in_inventory?'green':'red',}">{{item.is_in_inventory? 'available in stock':'Out of stock'}}</div>
      </div>
    </div>
  </div>
</div>
